<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>jcullop weather</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% include "css.html" %}

        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.png') }}"
            type="image/png"
        />
    </head>
    <body>
        <!--<div class="card">-->
        <div class="page_container">
            <div class="signature">
                <br /><a href="{{ url_for('find') }}">weather</a>
            </div>
        </div>
    </body>
</html>
