<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Skills</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style2.css') }}"
        />
    </head>
    <body>
        <div class="page_container">
            {% include "nav.html" %}
            <br />
            <div class="skills-card">
                <div class="focused_job">
                    <p>{{ title }}</p>
                    <br />
                    {{ job.company }}<br />
                    {{ job.state }} {{ job.country }}<br />
                    <a href="{{ job.source_url }}"
                        >Check out the listing on {{ job.source }}</a
                    ><br />
                    {{ salary_min}} - {{ salary_max}}<br />
                    <p2>{{ job.description_raw | safe }}</p2>
                </div>
                <br /><br /><br />
            </div>
        </div>
    </body>
</html>
