<div class="nav_card">
    <!--<h1>
        <a href="{{ url_for('find') }}">Weather</a>
    </h1>
    <br />-->

    <p>
        {% if loc and forecast and cur_weather %} Current & 5-day forecast
        for<br />
        <span class="location"
            >{{ loc.get("name", "Unknown") }}, {{ loc.get("state", "N/A") }}, {{
            loc.get("country", "N/A") }}</span
        ><br />
        Population: {{ loc.get("population", "N/A") }}<br />Elevation: {{
        loc.get("elevation", "N/A") }} ft.{% else %}
        <span class="location">Current & 5-day forecast</span><br />Enter your
        location below. {% endif %}
    </p>
</div>
